/*
 * Button
 * @author mfyance
 */

.button{
    cursor: pointer;
    position: relative;
    width: inherit;
    margin: initial;
    border: none;
    transition: all 0.5s ease;
    background-size: 200% auto;
    border-radius: 10px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    transition: all 0.2s ease;
    top: 0;
    padding: inherit;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}







.button-primary--is-full{
  width: 100%;
}

.button-primary:hover{
  background: var(--color-primary);
  color: var(--color-secondary)
}
.button-primary{
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 100px;
  transition: 0.5s;
  background: var(--color-secondary);
  color: #131415;
}

.button-secondary:hover{
  background-position: left bottom;
  color: white !important;
  color: var(--color-secondary);
  text-decoration: none;
}
.button-secondary{
  font-size: 16px;
  font: 16px var(--font-primary-black);
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 100px;
  transition: 0.5s;
  color: #fff;
  background: var(--color-primary);
  color: #fff;

  background: linear-gradient(to right, var(--color-secondary) 50%, var(--color-primary) 50%) repeat scroll right bottom/200% 100% transparent;
}



.button-terciary:hover{
  border-color: var(--color-secondary);
  color: var(--color-secondary);
  text-decoration: none;
}
.button-terciary{
  border: 1px solid #f9f9f9;
  background: transparent;
  padding: 10px 15px;
  border-radius: 30px;
  color: white;
  font-size: 16px;
}


.button-modal:hover {
  border-color: var(--color-secondary);
  color: var(--color-primary);
  text-decoration: none;
}
.button-modal {
  border: 1px solid #f9f9f9;
  background: #F9F9F9;
  border-radius: 100px;
  padding: 6px 22px;
  color: #131415;
  font-size: 16px;
}




.content-buttons{
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  margin: auto;
  align-items: center;
}


.button-send:hover{
  background-position: left bottom;
  color: white !important
}
.button-send{
  padding: 11px 30px;
  border-radius: 50px;
  font: 18px var(--font-primary);
  color: var(--color-error);
  background: linear-gradient(to right, var(--color-secondary-black) 50%, var(--color-secondary) 50%) repeat scroll right bottom/200% 100% transparent;
}

.button-detail:hover{
  background-position: left bottom;
}
.button-detail{
  padding: 11px 30px;
  border-radius: 50px;
  font: 18px var(--font-primary);
  color: #555;
  background: linear-gradient(to right, #fff 50%, #cecece 50%) repeat scroll right bottom/200% 100% transparent
}




