/*
 * Checkbox
 * @author mfyance
 */


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="checkbox"] + label{
    font: 16px var(--font-secondary);
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #fff;
    font-weight: lighter;
}

[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
}
[type="checkbox"]:checked + label:before{
    background: #ffffff;
    border: 1px solid var(--color-secondary);
}
[type="checkbox"]:not(:checked) + label:before {
    background: #fff;
    border: 1px solid #e2e2e2;
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--color-secondary);
    position: absolute;
    top: 4px;
    left: 4px;
    /* border-radius: 100%; */
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.form-content-check{
    margin-bottom: 15px
}