/*
 * Fonts
 * @author mfyance
 */



.font-primary{ font-family: var(--font-primary); }
.font-secondary{ font-family: var(--font-secondary); }


.font-size-xxs{ font-size: var(--font-size-xxs); }
.font-size-xs{ font-size: var(--font-size-xs); }
.font-size-md{ font-size: var(--font-size-md); }
.font-size-lg{ font-size: var(--font-size-lg); }
.font-size-xl{ font-size: var(--font-size-xl); }
.font-size-xxl{ font-size: var(--font-size-xxl); }
