/*
 * Fonts
 * @author mfyance
 */

@font-face {
    font-family: "Avenir";
    src: url("../../fonts/avenir-roman-webfont.woff2"),
    	 url("../../fonts/avenir-roman-webfont.woff");
}

@font-face {
    font-family: "Avenir-Black";
    src: url("../../fonts/avenir-ltstd-black-webfont.woff2"),
    	 url("../../fonts/avenir-ltstd-black-webfont.woff");
}


