/*
 * Design Tokens
 * @author mfyance
 */

:root{
    --layout-max: 1700px;
    --color-black: #000;    
    --color-primary: #E4002B;    
    --color-secondary: #FFB81C;
    --color-secondary-black: #ff8800;
    --color-terciary: #302E2C;
    --color-grey:#E4E4E4;

    --color-error:#ff0909;
    --color-success:#44ca8d;
    --color-info:#dbae5b;

    --font-primary: Avenir;
    --font-primary-black: Avenir-Black;
    --font-secondary: Montserrat;

    --font-size-xxs: 10px;
    --font-size-xs: 12px;
    --font-size-md: 14px;
    --font-size-lg: 16px;
    --font-size-xl: 18px;
    --font-size-xxl: 20px;
}


