/*
 * Core Proyect
 * @author mfyance
 */

 @charset "utf-8";
 @import "../design-system/__design-system.css";
 
.footer-social-content{
  display: block;
}
 #site-main{
   position: relative;
   z-index: 3;
 }
.menu-mobile{
  display: flex;
  width: 100%;
}
.menu-mobile-option{
  width: 20%;
}
.menu-mobile-option-img{
  height: 40px;
  display: flex;
  align-items: center;
  justify-self: center;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}


 .logged #iframeRegistrar {
   display: none !important;
 }
 
 #contentIframe iframe {
   width: 100%;
   max-width: 900px;
   height: 80vh;
 }
 .participantes-content {
   position: relative;
 }

 .partner-next-button svg {
  width: 35px;
  margin: 15px 5px;
  transform: rotate(180deg);
  fill: #555;
}

.partner-next-button {
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: calc(50% - 70px);
  background: #fff;
  z-index: 10;
}
.partner-prev-button svg {
  width: 35px;
  margin: 15px 5px;
  fill: #555;
}

.partner-prev-button {
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: calc(50% - 70px);
  background: #fff;
  z-index: 10;
}

.slider-partner{
  position: relative;
}
.owl-carousel4{
  padding: 0;
  margin: 0;
}

 
 .my-next-button svg {
   width: 35px;
   margin: 15px 5px;
   transform: rotate(180deg);
   fill: #555;
 }
 .my-next-button:hover svg {
   fill: var(--color-secondary);
 }
 .my-next-button:hover {
   background: var(--color-primary);
 }
 .my-next-button {
   transition: all 0.3s ease;
   cursor: pointer;
   position: absolute;
   left: -64px;
   top: calc(50% - 28px);
   background: #fff;
 }
 .my-prev-button svg {
   width: 35px;
   margin: 15px 5px;
   fill: #555;
 }
 .my-prev-button:hover svg {
   fill: var(--color-secondary);
 }
 .my-prev-button:hover {
   background: var(--color-primary);
 }
 .my-prev-button {
   transition: all 0.3s ease;
   cursor: pointer;
   position: absolute;
   right: -64px;
   top: calc(50% - 28px);
   background: #fff;
 }
 
 .bsize-auto {
   background-size: auto !important;
 }
 
 ::-webkit-scrollbar {
   width: 25px;
   height: 20px;
 }
 
 ::-webkit-scrollbar-track {
   background: none;
 }
 
 ::-webkit-scrollbar-thumb {
   border-radius: 15px;
   border: 4px solid rgba(255, 255, 255, 0);
   background-clip: content-box;
   background-color: var(--color-secondary);
 }
 
 ::-webkit-scrollbar-thumb:hover {
   background-color: var(--color-primary);
 }
 
 .subtitle {
   font: 40px var(--font-primary-black);
   text-align: center;
   margin-bottom: 20px;
 }
 
 .tabs-participantes {
   margin-top: 70px;
   margin-bottom: 70px;
   display: flex;
   justify-content: center;
 }
 
 .tabs-participantes-option:hover {
   color: white;
   font-weight: bold;
 }
 .tabs-participantes-option:last-child:after {
   display: none;
 }
 .tabs-participantes-option:after {
   content: "";
   position: absolute;
   top: -1px;
   right: -36px;
   width: 5px;
   height: 30px;
   transform: rotate(25deg);
   background: var(--color-secondary);
 }
 .tabs-participantes-option.active {
   font-weight: bold;
   color: var(--color-secondary);
 }
 .tabs-participantes-option {
   font: 26px var(--font-primary);
   color: var(--color-secondary);
   cursor: pointer;
   position: relative;
   margin: 0 30px;
 }
 
 .participantes {
   padding: 80px 0 180px 0;
   background: #302e2c url("../../img/elementos/icono-rojo.png") center bottom
     no-repeat;
   background-size: contain;
 }
 .participantes-item {
   margin-top: 10px;
   margin-bottom: 10px;
 }
 .participantes-item-person {
   height: 400px;
   position: relative;
   background-size: cover;
   background-position: center;
   margin-bottom: 20px;
 }
 .participantes-item-info {
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 10px;
   background: var(--color-primary);
   width: 100%;
 }
 .participantes-name {
   font: 20px var(--font-primary);
   color: white;
   font-weight: bold;
 }
 .participantes-enterprise {
   font: 15px var(--font-primary);
   color: white;
   margin-top: 30px;
   display: block;
 }
 
 .ml12 .letter {
   display: inline-block;
   line-height: 1em;
 }
 
 input::-moz-placeholder,
 textarea::-moz-placeholder {
   color: #fff;
   font-style: inherit;
   font-family: var(--font-secondary);
   font-weight: lighter;
 }
 
 input:-ms-input-placeholder,
 textarea:-ms-input-placeholder {
   color: #fff;
   font-style: inherit;
   font-family: var(--font-secondary);
   font-weight: lighter;
 }
 
 input::placeholder,
 textarea::placeholder {
   color: #fff;
   font-style: inherit;
   font-family: var(--font-secondary);
   font-weight: lighter;
 }
 
 /*--------------------------------------------------------------
 # General
 --------------------------------------------------------------*/
 body {
   font-family: var(--font-primary);
 }
 
 /* Back to top button */
 
 .back-to-top {
   position: fixed;
   display: none;
   background: #1bb1dc;
   color: #fff;
   width: 44px;
   height: 44px;
   text-align: center;
   line-height: 1;
   font-size: 16px;
   border-radius: 50%;
   right: 15px;
   bottom: 15px;
   transition: background 0.5s;
   z-index: 11;
 }
 
 .back-to-top i {
   padding-top: 12px;
   color: #fff;
 }
 
 /* Prelaoder */
 
 #preloader {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 9999;
   overflow: hidden;
   background: #fff;
 }
 
 #preloader:before {
   content: "";
   position: fixed;
   top: calc(50% - 30px);
   left: calc(50% - 30px);
   border: 6px solid #f2f2f2;
   border-top: 6px solid #1bb1dc;
   border-radius: 50%;
   width: 60px;
   height: 60px;
   -webkit-animation: animate-preloader 1s linear infinite;
   animation: animate-preloader 1s linear infinite;
 }
 
 @-webkit-keyframes animate-preloader {
   0% {
     -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
   }
 
   100% {
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
   }
 }
 
 @keyframes animate-preloader {
   0% {
     -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
   }
 
   100% {
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
   }
 }
 
 /*--------------------------------------------------------------
 # Top Bar
 --------------------------------------------------------------*/
 
 #topbar {
   padding: 0 0 10px 0;
   font-size: 14px;
   transition: all 0.5s;
 }
 
 #topbar .social-links {
   text-align: right;
 }
 
 #topbar .social-links a {
   color: #535074;
   padding: 4px 12px;
   display: inline-block;
   line-height: 1px;
 }
 
 #topbar .social-links a:hover {
   color: #1bb1dc;
 }
 
 #topbar .social-links a:first-child {
   border-left: 0;
 }
 
 /*--------------------------------------------------------------
 # Header
 --------------------------------------------------------------*/
 
 #header {
   /* height: 110px; */
   transition: all 0.5s;
   z-index: 997;
   transition: all 0.5s;
   padding: 10px 0;
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   transition: all 0.5s;
   z-index: 997;
 }
 
 #header.header-scrolled,
 #header.header-pages {
   /* height: 92px; */
   /* padding: 15px 0; */
   background-color: #e4002b;
   box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
 }
 
 #header.header-scrolled #topbar,
 #header.header-pages #topbar {
   display: none;
 }
 
 #header .logo h1 {
   font-size: 36px;
   margin: 0;
   padding: 0;
   line-height: 1;
   font-weight: 400;
   letter-spacing: 3px;
   text-transform: uppercase;
 }
 
 #header .logo h1 a,
 #header .logo h1 a:hover {
   color: #413e66;
   text-decoration: none;
 }
 
 #header .logo img {
   padding: 0;
   margin: 0px 6px;
   /* max-height: 46px; */
   width: 120px;
 }
 
 .main-pages {
   margin-top: 60px;
 }
 
 #header .main-nav .btn-avatar {
   font-size: 16px;
   font-weight: 500;
   letter-spacing: 1px;
   display: inline-block;
   padding: 15px 20px;
   border-radius: 100px;
   transition: 0.5s;
   background: var(--color-secondary);
   color: #131415;
 }
 
 /*--------------------------------------------------------------
 # Intro Section
 --------------------------------------------------------------*/
 .logged:hover .perfil-opciones {
   opacity: 1;
   z-index: 2;
 }
 
 .perfil-opciones {
   opacity: 1;
   position: relative;
   top: -13px;
   z-index: -1;
   text-align: center;
   color: white !important;
 }
 
 #intro {
   width: 100%;
   height: 100vh;
   position: relative;
   background: #f5f8fd url("../../img/banner/fondo.jpg") center top no-repeat;
   background-size: cover;
 }
 
 #intro .intro-info h1 {
   color: #f9f9f9;
   margin-bottom: 40px;
   font-size: 54px;
   /* font-weight: 700; */
   font: 54px var(--font-primary-black);
 }
 
 #intro .intro-info h1 span {
   color: #e4002b;
   color: white;
 }
 
 #intro .intro-info .btn-get-started,
 #intro .intro-info .btn-services {
   font-family: "Montserrat", sans-serif;
   font-size: 13px;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 1px;
   display: inline-block;
   padding: 10px 32px;
   border-radius: 100px;
   transition: 0.5s;
   color: #fff;
   background: var(--color-primary);
   color: #fff;
 }
 
 #intro .intro-info .btn-services {
   border: 1px solid #f9f9f9;
   background: #e4002b00;
 }
 #intro .intro-info .btn-get-started:hover,
 #intro .intro-info .btn-services:hover {
   background: var(--color-secondary);
   text-decoration: none;
 }
 #intro .intro-info h2 {
   color: #f9f9f9;
   margin-bottom: 40px;
   font-size: 28px;
 }
 /*--------------------------------------------------------------
 # Navigation Menu
 --------------------------------------------------------------*/
 
 /* Desktop Navigation */
 
 .main-nav > ul > li {
   position: relative;
   white-space: nowrap;
   float: left;
   margin-left: 10px;
 }
 .main-nav--menu {
   display: none;
 }
 
 .main-nav a:not(.button) {
   display: block;
   position: relative;
   padding: 5px 0 10px 0;
   font-family: var(--font-primary);
   transition: all 0.3s ease;
   color: white;
   font: 15px var(--font-primary);
   margin-top: 12px;
 }
 .icon-margin {
   padding: 3px 12px !important;
 }
 .main-nav a:hover,
 .main-nav .active > a,
 .main-nav li:hover > a {
   text-decoration: none;
 }
 
 .main-nav .drop-down ul {
   display: block;
   position: absolute;
   left: 0;
   top: calc(100% - 30px);
   z-index: 99;
   opacity: 0;
   visibility: hidden;
   padding: 10px 0;
   background: #fff;
   box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
   transition: ease all 0.3s;
 }
 
 .main-nav .drop-down:hover > ul {
   opacity: 1;
   top: 100%;
   visibility: visible;
 }
 
 .main-nav .drop-down li {
   min-width: 180px;
   position: relative;
 }
 
 .main-nav .drop-down ul a {
   padding: 10px 20px;
   font-size: 14px;
   font-weight: 500;
   text-transform: none;
   color: #065e77;
 }
 
 .main-nav .drop-down ul a:hover,
 .main-nav .drop-down ul .active > a,
 .main-nav .drop-down ul li:hover > a {
   color: #1bb1dc;
 }
 
 .main-nav .drop-down > a:after {
   content: "\f107";
   font-family: FontAwesome;
   padding-left: 10px;
 }
 
 .main-nav .drop-down .drop-down ul {
   top: 0;
   left: calc(100% - 30px);
 }
 
 .main-nav .drop-down .drop-down:hover > ul {
   opacity: 1;
   top: 0;
   left: 100%;
 }
 
 .main-nav .drop-down .drop-down > a {
   padding-right: 35px;
 }
 
 .main-nav .drop-down .drop-down > a:after {
   content: "\f105";
   position: absolute;
   right: 15px;
 }
 
 /* Mobile Navigation */
 
 .mobile-nav {
   position: fixed;
   top: 0;
   bottom: 0;
   z-index: 9999;
   overflow-y: auto;
   left: -260px;
   width: 260px;
   padding-top: 18px;
   background: rgba(40, 38, 70, 0.8);
   transition: 0.4s;
 }
 
 .mobile-nav * {
   margin: 0;
   padding: 0;
   list-style: none;
 }
 
 .mobile-nav a {
   display: block;
   position: relative;
   color: #fff;
   padding: 10px 20px;
   font-weight: 500;
 }
 
 .mobile-nav a:hover,
 .mobile-nav .active > a,
 .mobile-nav li:hover > a {
   color: #8dc2fa;
   text-decoration: none;
 }
 
 .mobile-nav .drop-down > a:after {
   content: "\f078";
   font-family: FontAwesome;
   padding-left: 10px;
   position: absolute;
   right: 15px;
 }
 
 .mobile-nav .active.drop-down > a:after {
   content: "\f077";
 }
 
 .mobile-nav .drop-down > a {
   padding-right: 35px;
 }
 
 .mobile-nav .drop-down ul {
   display: none;
   overflow: hidden;
 }
 
 .mobile-nav .drop-down li {
   padding-left: 20px;
 }
 
 .mobile-nav-toggle {
   position: fixed;
   right: 0;
   top: 0;
   z-index: 9998;
   border: 0;
   background: none;
   font-size: 24px;
   transition: all 0.4s;
   outline: none !important;
   line-height: 1;
   cursor: pointer;
   text-align: right;
 }
 
 .mobile-nav-toggle i {
   margin: 18px 18px 0 0;
   color: #065e77;
 }
 
 .mobile-nav-overly {
   width: 100%;
   height: 100%;
   z-index: 9997;
   top: 0;
   left: 0;
   position: fixed;
   background: rgba(40, 38, 70, 0.8);
   overflow: hidden;
   display: none;
 }
 
 .mobile-nav-active {
   overflow: hidden;
 }
 
 .mobile-nav-active .mobile-nav {
   left: 0;
 }
 
 .mobile-nav-active .mobile-nav-toggle i {
   color: #fff;
 }
 
 /*--------------------------------------------------------------
 # Sections
 --------------------------------------------------------------*/
 
 /* Sections Header
 --------------------------------*/
 
 .section-header h3 {
   color: #ffffff;
   text-align: center;
   line-height: 50px;
   position: relative;
   font: 40px var(--font-primary-black);
 }
 
 .section-header p {
   text-align: center;
   margin: auto;
   font-size: 15px;
   padding-bottom: 60px;
   color: #e4002b;
   width: 50%;
 }
 
 /* Section with background
 --------------------------------*/
 
 .section-bg {
   background: #ffffff;
 }
 
 /* About Us Section
 --------------------------------*/
 
 #about {
   padding: 80px 0;
 }
 
 #about .about-content {
   padding-top: 40px;
 }
 
 #about .about-content h2 {
   color: var(--color-primary);
   font: 40px var(--font-primary-black);
   margin-bottom: 23px;
 }
 
 #about .about-content h3 {
   color: #000000;
   font-weight: 400;
   font-size: 20px;
   text-align: justify;
   margin-bottom: 23px;
 }
 
 #about .about-content h4 {
   color: #e4002b;
   /* font-size: 20px; */
   text-align: justify;
   margin-bottom: 23px;
   font: 20px var(--font-primary-black);
 }
 
 #about .about-content ul li i {
   font-size: 20px;
   padding-right: 4px;
   color: #1bb1dc;
 }
 
 #about .about-img {
   position: relative;
   margin: 30px 30px 30px 0px;
 }
 
 #about .about-img img {
   width: 100%;
   border: 8px solid #fff;
   transition: 0.5s;
 }
 
 #about .about-img img:hover {
   width: 100%;
   -webkit-transform: scale(1.03);
   transform: scale(1.03);
 }
 
 #about .organization {
   display: flex;
   max-width: 410px;
   justify-content: space-between;
   align-items: center;
 }
 
 /* Partners Section
 --------------------------------*/
 
 #partners {
   padding: 60px 0 40px 0;
 }
 
 #partners h3 {
   color: #e4002b;
   font-style: normal;
   line-height: 50px;
   font: 50px var(--font-primary-black);
 }
 #partners h4 {
   font-weight: 750;
   line-height: 135%;
   font: 22px var(--font-primary-black);
 }
 
 #partners .box {
   padding: 30px;
   position: relative;
   overflow: hidden;
   border-radius: 10px;
   transition: all 0.3s ease-in-out;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 #partners .box:hover {
   -webkit-transform: scale(1.5);
   transform: scale(1.5);
 }
 
 #partners .icon {
   display: inline-block;
   text-align: center;
   width: 130px;
 }
 
 #partners .icon i {
   font-size: 36px;
   line-height: 1;
 }
 
 #partners .title {
   font-weight: 700;
   margin-bottom: 15px;
   font-size: 18px;
 }
 
 #partners .title a {
   color: #111;
 }
 
 #partners .box:hover .title a {
   color: #1bb1dc;
 }
 
 #partners .description {
   font-size: 14px;
   line-height: 28px;
   margin-bottom: 0;
   text-align: left;
 }
 
 #partners .book {
   background: #f2f2f2;
   border-radius: 12px;
   padding: 30px;
   border-bottom: 3px solid;
   display: flex;
   justify-content: center;
   margin-top: 70px;
   margin-bottom: 40px;
   background-image: url(../../img/home/revista.png);
   background-position: left center;
   background-repeat: no-repeat;
   background-size: contain;
 }
 
 #partners form {
   margin-top: 16px;
 }
 #partners .form-input {
   border: 1px solid var(--color-primary);
   color: var(--color-primary);
   padding: 17px 20px;
 }
 #partners ::placeholder {
   color: var(--color-primary);
 }
 #partners button {
   color: #f2f2f2;
   width: 100%;
 }
 #partners .form-content-check {
   padding-left: 15px;
 }
 #partners [type="checkbox"]:not(:checked) + label {
   color: #3d4e54;
 }
 #partners [type="checkbox"]:checked + label {
   color: #555;
 }
 
 .programa-registro {
   margin-top: 10px;
 }
 
 /* Features Section
 --------------------------------*/
 
 #features {
   padding: 80px 0;
 }
 
 #features h4 {
   font-weight: 600;
   font-size: 24px;
 }
 
 /* program Section
 --------------------------------*/
 
 #program {
   padding: 100px 0 150px 0;
   width: 100%;
   /* height: 100vh; */
   position: relative;
   background: #e4002b url("../../img/elementos/ICONITO.png") center bottom
     no-repeat;
   background-size: cover;
 }
 
 #program #program-flters {
   padding-top: 6%;
   margin: 5px 0 38px 0;
   list-style: none;
   text-align: center;
   justify-content: center;
 }
 
 #program #program-flters li:after {
   content: "";
   position: absolute;
   top: 0px;
   right: -11px;
   width: 5px;
   height: 30px;
   background: white;
   transform: rotate(20deg);
 }
 #program #program-flters li:last-child:after {
   display: none !important;
 }
 #program #program-flters li {
   position: relative;
   cursor: pointer;
   margin: 15px 15px 15px 0;
   display: inline-block;
   padding: 6px 10px;
   /* font-weight: 750; */
   font-size: 24px;
   line-height: 20px;
   color: #ffffff;
   margin-bottom: 5px;
   transition: all 0.3s ease-in-out;
 }
 
 #program #program-flters a:hover,
 #program #program-flters li.filter-active {
   color: var(--color-secondary);
 }
 #program .active {
   color: #ffb81c;
   font-weight: bolder;
 }
 #program a {
   color: #ffffff;
 }
 
 #program #program-flters li:last-child {
   margin-right: 0;
 }
 
 #program .program-item {
   position: relative;
   overflow: hidden;
 }
 #program h4 {
   color: #ffffff;
   letter-spacing: 0;
   margin-bottom: 15px;
   font: 20px var(--font-primary-black);
 }
 #program p {
   color: #ffffff;
   font-size: 18px;
   margin-bottom: 16px;
 }
 
 #program .program-item .program-wrap {
   overflow: hidden;
   position: relative;
   margin: 0;
 }
 
 #program .program-item .program-wrap:hover img {
   opacity: 0.4;
   transition: 0.3s;
 }
 
 .tab-content > .active {
   display: flex !important;
 }
 #program .program-item .program-wrap .program-info {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   text-align: center;
   opacity: 0;
   transition: 0.2s linear;
 }
 
 #program .program-item .program-wrap .program-info h4 {
   font-size: 22px;
   line-height: 1px;
   font-weight: 700;
   margin-bottom: 14px;
   padding-bottom: 0;
 }
 
 #program .program-item .program-wrap .program-info h4 a {
   color: #fff;
 }
 
 #program .program-item .program-wrap .program-info h4 a:hover {
   color: #ffb81c;
 }
 
 #program .program-item .program-wrap .program-info p {
   padding: 0;
   margin: 0;
   color: #f8fcff;
   font-weight: 500;
   font-size: 14px;
   text-transform: uppercase;
 }
 
 #program .program-item .program-wrap .program-info .link-preview,
 #program .program-item .program-wrap .program-info .link-details {
   display: inline-block;
   line-height: 1;
   text-align: center;
   width: 36px;
   height: 36px;
   background: #1bb1dc;
   border-radius: 50%;
   margin: 10px 4px 0 4px;
 }
 
 #program .program-item .program-wrap .program-info .link-preview i,
 #program .program-item .program-wrap .program-info .link-details i {
   padding-top: 6px;
   font-size: 22px;
   color: #fff;
 }
 
 #program .program-item .program-wrap .program-info .link-preview:hover,
 #program .program-item .program-wrap .program-info .link-details:hover {
   background: #ffb81c;
 }
 
 #program .program-item .program-wrap .program-info .link-preview:hover i,
 #program .program-item .program-wrap .program-info .link-details:hover i {
   color: #fff;
 }
 
 #program .program-item .program-wrap:hover {
   background: #282646;
 }
 
 #program .program-item .program-wrap:hover .program-info {
   opacity: 1;
 }
 
 #program .member {
   text-align: center;
   margin-bottom: 20px;
   position: relative;
   overflow: hidden;
 }
 
 #program .member .member-info {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   position: absolute;
   bottom: 15px;
   left: 15px;
   transition: 0.2s;
   padding: 9px;
   background: #f2f2f2;
   /* width: 100px; */
   /* height: 35px; */
 }
 #program .button {
 }
 #program .member span {
   font-weight: 500;
   display: block;
   /* margin-top: 10px; */
   font-size: 14px;
   color: #e4002b;
 }
 #program .member .member-info-content {
   transition: margin 0.2s;
   /* height: 40px; */
   transition: height 0.4s;
 }
 
 /* Testimonials Section
 --------------------------------*/
 
 #testimonials {
   padding: 60px 0;
 }
 
 #testimonials .section-header {
   margin-bottom: 40px;
 }
 
 #testimonials .testimonial-item .testimonial-img {
   width: 120px;
   border-radius: 50%;
   border: 4px solid #fff;
   float: left;
 }
 
 #testimonials .testimonial-item h3 {
   font-size: 20px;
   font-weight: bold;
   margin: 10px 0 5px 0;
   color: #111;
   margin-left: 140px;
 }
 
 #testimonials .testimonial-item h4 {
   font-size: 14px;
   color: #999;
   margin: 0 0 15px 0;
   margin-left: 140px;
 }
 
 #testimonials .testimonial-item p {
   font-style: italic;
   margin: 0 0 15px 140px;
 }
 
 #testimonials .owl-nav,
 #testimonials .owl-dots {
   margin-top: 5px;
   text-align: center;
 }
 
 #testimonials .owl-dot {
   display: inline-block;
   margin: 0 5px;
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: #ddd;
 }
 
 #testimonials .owl-dot.active {
   background-color: #1bb1dc;
 }
 
 /* Team Section
 --------------------------------*/
 .participante-img {
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: top center;
   /* justify-content: flex-start; */
 }
 .speaker-content {
   height: 400px;
   width: auto;
 }
 
 .owl-carousel .item {
   height: 25rem;
   background: #fff;
   text-align: center;
 }
 
 .owl-carousel .item h4 {
   height: 10rem;
   background: #4dc7a0;
   margin: 1rem;
 }
 
 #team {
   padding: 70px 0 0px 0;
   width: 100%;
   height: auto;
   position: relative;
   background: #302e2c url("../../img/elementos/icono-rojo.png") center top
     no-repeat;
   background-size: cover;
 }
 
 #team .member {
   text-align: center;
   margin-bottom: 20px;
   position: relative;
   overflow: hidden;
   margin: 0 10px 10px 0;
   height: 360px;
 }
 
 #team .member .member-info {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   /* -webkit-justify-content: center; */
   -ms-flex-pack: center;
   /* justify-content: center; */
   /* -webkit-box-align: center; */
   /* -webkit-align-items: center; */
   -ms-flex-align: center;
   /* align-items: center; */
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   transition: 0.2s;
   padding: 15px;
   background: #e4002b;
   text-align: start;
   height: auto;
 }
 
 #team .member .member-info-content {
   transition: margin 0.2s;
   transition: height 0.4s;
   left: 0;
   /* position: relative; */
 }
 
 #team .member:hover .member-info {
   /* transition: 0.4s; */
 }
 
 #team .member:hover .member-info-content {
   /* height: 50px; */
 }
 
 #team .member h4 {
   font-weight: 700;
   margin-bottom: 30px;
   font-size: 18px;
   color: #fff;
 }
 
 #team .member span {
   /* font-style: italic; */
   display: block;
   font-size: 15px;
   color: #fff;
   margin-top: 20px;
 }
 
 #team #team-flters {
   padding-top: 6%;
   margin: 5px 0 38px 0;
   list-style: none;
   text-align: center;
   justify-content: center;
 }
 
 #team #team-flters li {
   cursor: pointer;
   margin: 15px 15px 15px 0;
   display: inline-block;
   padding: 6px 10px;
   font-weight: 400;
   font-size: 24px;
   line-height: 20px;
   color: #fdc300;
   letter-spacing: -0.5px;
   margin-bottom: 5px;
   transition: all 0.3s ease-in-out;
 }
 
 #team #team-flters a:hover,
 #team #team-flters li.filter-active {
   /* font-weight: 900; */
 }
 #team .active {
   color: #fdc300;
   font-weight: 900;
 }
 
 #team .owl-carousel .active {
   width: 370px !important;
   height: 300px;
 }
 #team a {
   color: #fdc300;
 }
 #team #team-flters li:last-child {
   margin-right: 0;
 }
 
 #team .program-item {
   position: relative;
   overflow: hidden;
 }
 #team h4 {
   color: #ffffff;
   font-weight: 750;
   font-size: 21px;
   letter-spacing: -0.5px;
   margin-bottom: 20px;
 }
 #team p {
   color: #ffffff;
   font-size: 18px;
   margin-bottom: 16px;
 }
 
 /* Clients Section
 --------------------------------*/
 
 #clients {
   padding: 60px 0;
 }
 
 #clients img {
   max-width: 80%;
   opacity: 0.5;
   transition: 0.3s;
   padding: 15px 0;
 }
 
 #clients img:hover {
   opacity: 1;
 }
 
 #clients .owl-nav,
 #clients .owl-dots {
   margin-top: 5px;
   text-align: center;
 }
 
 #clients .owl-dot {
   display: inline-block;
   margin: 0 5px;
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: #ddd;
 }
 
 #clients .owl-dot.active {
   background-color: #1bb1dc;
 }
 
 /* Pricing Section
 --------------------------------*/
 
 #pricing {
   padding: 80px 0;
 }
 
 #pricing .card {
   border: 0;
   border-radius: 0px;
   box-shadow: 0 3px 0px 0 rgba(65, 62, 102, 0.08);
   transition: all 0.3s ease-in-out;
   padding: 36px 0;
   position: relative;
 }
 
 #pricing .card:after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 0%;
   height: 5px;
   background-color: #1bb1dc;
   transition: 0.5s;
 }
 
 #pricing .card:hover {
   -webkit-transform: scale(1.05);
   transform: scale(1.05);
   box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
 }
 
 #pricing .card:hover:after {
   width: 100%;
 }
 
 #pricing .card .card-header {
   background-color: white;
   border-bottom: 0px;
   -moz-text-align-last: center;
   text-align-last: center;
 }
 
 #pricing .card .card-title {
   margin-bottom: 16px;
   color: #535074;
 }
 
 #pricing .card .card-block {
   padding-top: 0;
   text-align: center;
 }
 
 #pricing .card .list-group-item {
   border: 0px;
   padding: 6px;
   color: #413e66;
   font-weight: 300;
 }
 
 #pricing .card h3 {
   font-size: 64px;
   margin-bottom: 0px;
   color: #535074;
 }
 
 #pricing .card h3 .currency {
   font-size: 30px;
   position: relative;
   font-weight: 400;
   top: -30px;
   letter-spacing: 0px;
 }
 
 #pricing .card h3 .period {
   font-size: 16px;
   color: #6c67a3;
   letter-spacing: 0px;
 }
 
 #pricing .card .list-group {
   margin-bottom: 15px;
 }
 
 #pricing .card .btn {
   text-transform: uppercase;
   font-size: 13px;
   font-weight: 500;
   color: #5f5b96;
   border-radius: 0;
   padding: 10px 24px;
   letter-spacing: 1px;
   border-radius: 3px;
   display: inline-block;
   background: #1bb1dc;
   color: #fff;
 }
 
 #pricing .card .btn:hover {
   background: #0a98c0;
 }
 
 /* Frequently Asked Questions Section
 --------------------------------*/
 
 #faq {
   padding: 60px 0;
   overflow: hidden;
 }
 
 #faq #faq-list {
   padding: 0;
   list-style: none;
 }
 
 #faq #faq-list li {
   border-bottom: 1px solid #ebebeb;
 }
 
 #faq #faq-list a {
   padding: 22px 0;
   display: block;
   position: relative;
   font-family: "Montserrat", sans-serif;
   font-size: 20px;
   line-height: 1;
   font-weight: 400;
   padding-right: 20px;
 }
 
 #faq #faq-list i {
   font-size: 24px;
   position: absolute;
   right: 0;
   top: 20px;
 }
 
 #faq #faq-list p {
   margin-bottom: 20px;
 }
 
 #faq #faq-list a.collapse {
   color: #1bb1dc;
 }
 
 #faq #faq-list a.collapsed {
   color: #000;
 }
 
 #faq #faq-list a.collapsed i::before {
   content: "\f2c7" !important;
 }
 
 /*--------------------------------------------------------------
 # Footer
 --------------------------------------------------------------*/
 .footer-links-social i {
   position: relative;
   top: 3px;
   margin-right: 2px;
 }
 .footer-links-social {
   font: 19px var(--font-primary-black);
   letter-spacing: -1px;
 }
 
 #footer {
   padding: 0 0 30px 0;
   font-size: 14px;
   background: #e4002b;
 }
 
 #footer .footer-top {
   padding: 34px 0 12px 0;
   border-bottom: 0.5px solid #f9f9f9;
 }
 
 #footer .footer-top .footer-info {
   margin-bottom: 30px;
 }
 
 #footer .footer-top .footer-info h3 {
   font-size: 34px;
   margin: 0 0 20px 0;
   padding: 2px 0 2px 0;
   line-height: 1;
   color: #f9f9f9;
   font-weight: 750;
   font-size: 32px;
   line-height: 38px;
 }
 
 #footer .footer-top p {
   margin-bottom: 0;
   color: #f9f9f9;
   font-size: 18px;
   line-height: 32px;
 }
 
 #footer .footer-top .social-links a {
   font-size: 18px;
   display: inline-block;
   background: #1bb1dc;
   color: #fff;
   line-height: 1;
   padding: 8px 0;
   margin-right: 4px;
   border-radius: 50%;
   text-align: center;
   width: 36px;
   height: 36px;
   transition: 0.3s;
 }
 
 #footer .footer-top .social-links a:hover {
   background: #0a98c0;
   color: #fff;
 }
 
 #footer .footer-top .footer-links {
   margin-bottom: 30px;
 }
 
 #footer .footer-top .footer-links ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }
 
 #footer .footer-top .footer-links ul li {
   padding: 8px 0;
 }
 
 #footer .footer-top .footer-links ul li:first-child {
   padding-top: 0;
 }
 
 #footer .footer-top .footer-links ul a {
   color: #696592;
 }
 
 #footer .footer-top .footer-links ul a:hover {
   color: #1bb1dc;
 }
 
 #footer .footer-top .footer-contact {
   margin-bottom: 30px;
 }
 
 #footer .footer-top .footer-contact p {
   line-height: 26px;
 }
 
 #footer .footer-top .footer-newsletter {
   margin-bottom: 30px;
 }
 
 #footer .footer-top .footer-newsletter input[type="email"] {
   border: 0;
   padding: 6px 8px;
   width: 65%;
   border: 1px solid #d9dde6;
 }
 
 #footer .footer-top .footer-newsletter input[type="submit"] {
   background: #1bb1dc;
   border: 1px solid #1bb1dc;
   width: 35%;
   padding: 6px 0;
   text-align: center;
   color: #fff;
   transition: 0.3s;
   cursor: pointer;
 }
 
 #footer .footer-top .footer-newsletter input[type="submit"]:hover {
   background: #0a98c0;
 }
 
 #footer .footer-top .form .form-group {
   margin-bottom: 15px;
 }
 
 #footer .footer-top .form #sendmessage {
   color: #fff;
   background: #1bb1dc;
   display: none;
   text-align: center;
   padding: 15px;
   font-weight: 600;
   margin-bottom: 15px;
 }
 
 #footer .footer-top .form #errormessage {
   color: #fff;
   display: none;
   background: red;
   text-align: center;
   padding: 15px;
   font-weight: 600;
   margin-bottom: 15px;
 }
 
 #footer .footer-top .form #sendmessage.show,
 #footer .footer-top .form #errormessage.show,
 #footer .footer-top .form .show {
   display: block;
 }
 
 #footer .footer-top .form .validation {
   color: red;
   display: none;
   margin: 0 0 20px;
   font-weight: 400;
   font-size: 13px;
 }
 
 #footer .footer-top .form label {
   color: #413e66;
   font-weight: 500;
 }
 
 #footer .footer-top .form input,
 #footer .footer-top .form textarea {
   border-radius: 0;
   box-shadow: none;
   border: 1px solid #dce1ec;
   font-size: 14px;
 }
 
 #footer .footer-top .form input::-webkit-input-placeholder,
 #footer .footer-top .form textarea::-webkit-input-placeholder {
   color: #a2a0bd;
 }
 
 #footer .footer-top .form input::-moz-placeholder,
 #footer .footer-top .form textarea::-moz-placeholder {
   color: #a2a0bd;
 }
 
 #footer .footer-top .form input:-ms-input-placeholder,
 #footer .footer-top .form textarea:-ms-input-placeholder {
   color: #a2a0bd;
 }
 
 #footer .footer-top .form input::placeholder,
 #footer .footer-top .form textarea::placeholder {
   color: #a2a0bd;
 }
 
 #footer .footer-top .form button[type="submit"] {
   background: #1bb1dc;
   border: 0;
   border-radius: 3px;
   padding: 8px 30px;
   color: #fff;
   transition: 0.3s;
 }
 
 #footer .footer-top .form button[type="submit"]:hover {
   background: #0a98c0;
   cursor: pointer;
 }
 
 #footer .copyright {
   padding-top: 30px;
   font-size: 18px;
   line-height: 32px;
   color: #f9f9f9;
 }
 
 #footer .credits {
   text-align: center;
   font-size: 14px;
   padding-top: 4px;
   color: #8582a8;
 }
 
 #footer .credits a {
   color: #1bb1dc;
 }
 
 #footer .credits a:hover {
   color: #0a98c0;
 }
 #cookies {
   max-width: 480px;
 }
 #cookies h3 {
   color: #f9f9f9;
   font-weight: 750;
   font-size: 24px;
   margin-bottom: 18px;
 }
 #cookies p {
   font-weight: 500;
   font-size: 18px;
   margin-bottom: 18px;
 }
 
 #cookies .box {
   background: #131415;
   width: 100%;
   padding: 50px;
 }
 
 #cookies .modal-close {
   background: #f8f9fa00;
   color: #f9f9f9;
 }
 
 #cookies .modal-close:hover {
   box-shadow: inset 1px 1px 0 #f9f9f997, inset -1px -1px 0 #f9f9f997;
   background: #f8f9fa00;
 }
 #cookies .modal-close img {
   filter: brightness(0) invert(1);
 }
 #modal-program {
   padding: 30px;
   width: 100%;
   max-width: 100%;
   background: white;
   overflow: hidden;
 }
 
 #modal-program h2 {
   color: #000000;
   font-size: 25px;
   line-height: 145.9%;
   letter-spacing: -0.5px;
   margin: 24px 0;
   font: 30px var(--font-primary-black);
   margin-bottom: 5px;
 }
 #modal-program h3 {
   color: #000000;
   font-style: normal;
   line-height: 145.9%;
   letter-spacing: -0.5px;
   font: 24px var(--font-primary);
   margin-top: 0;
   margin-bottom: 20px;
 }
 #modal-program h4 {
   color: #000000;
   font-style: normal;
   line-height: 32px;
   letter-spacing: -0.5px;
   font: 19px var(--font-primary-black);
 }
 #modal-program h5 {
   color: black;
   margin-top: 5px;
   line-height: 32px;
   letter-spacing: -0.5px;
   font: 20px var(--font-primary);
 }
 #modal-program ul {
   margin-bottom: 7px;
 }
 #modal-program li {
   color: #424242;
   font-size: 17px;
   line-height: 20px;
   margin-top: 5px;
 }
 #modal-program button {
   margin: 6px;
 }
 
 #video {
  padding: 70px 0 0px 0;
  width: 100%;
  height: 100vh;
  position: relative;
  background: #302e2c url("../../img/elementos/ICONITO.png") center;
  background-size: cover;
}

 #video h2 {
  font-weight: 750;
  font-size: 22px;
  line-height: 145.9%;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  padding-bottom: 52px;
  }
  .video-responsive {
    height: 0;
    overflow: hidden;
    margin: 0 28px;
    padding-bottom: 52.25%;
    position: relative;
    }
  .video-responsive iframe, .video-responsive object, .video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    }
 /*--------------------------------------------------------------
 # Responsive Media Queries
 --------------------------------------------------------------*/
 
 @media (min-width: 991px) {
   #call-to-action .cta-btn-container {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-box-pack: end;
     -webkit-justify-content: flex-end;
     -ms-flex-pack: end;
     justify-content: flex-end;
   }
 }
 
 @media (min-width: 992px) {
   #intro .intro-info {
     padding-top: 80px;
     text-align: center;
   }
 
   #testimonials .testimonial-item p {
     width: 80%;
   }
 }
 @media (max-width: 1199px) {
   #partners .book {
     background-image: none;
   }
   #header .image {
     max-width: 300px;
   }
   #header .logo img {
     /* width: 100px; */
   }
   #header .container {
     max-width: 1294px;
   }
 }
 @media (max-width: 991px) {
   #topbar {
     display: none;
   }
 
   #header {
     height: 70px;
     padding: 15px 0;
   }
 
   #header .logo h1 {
     font-size: 28px;
     padding: 8px 0;
   }
 
   #why-us .why-us-content {
     padding-top: 30px;
   }
 
   #pricing {
     padding-bottom: 30px;
   }
 
   #pricing .card {
     margin-bottom: 50px;
   }
 }
 
 @media (max-width: 768px) {
   #header .icon-content {
     margin: 21px 0;
   }
   #program {
     height: 100%;
   }
   #program h4 {
     margin-top: 16px;
   }
   .back-to-top {
     bottom: 15px;
   }
   #about .about-content h4 {
     margin-top: 26px;
   }
   #faq #faq-list a {
     font-size: 18px;
   }
 
   #faq #faq-list i {
     top: 13px;
   }
 }
 
 @media (max-width: 767px) {
   #intro {
     height: auto;
     padding: 80px 0 60px 0;
   }
 
   #intro .container {
     height: auto !important;
   }
 
   #intro .intro-img {
     width: 80%;
   }
 
   #intro .intro-info {
     text-align: center;
     padding-top: 40px;
     padding-left: 0;
     padding-right: 0;
   }
 
   #intro .intro-info h2 {
     font-size: 34px;
     margin-bottom: 30px;
   }
 
   .section-header p {
     width: 100%;
   }
 
   #testimonials .testimonial-item {
     text-align: center;
   }
 
   #testimonials .testimonial-item .testimonial-img {
     float: none;
     margin: auto;
   }
 
   #testimonials .testimonial-item h3,
   #testimonials .testimonial-item h4,
   #testimonials .testimonial-item p {
     margin-left: 0;
   }


   .main-nav--menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0px;
    width: 100%;
    background: var(--color-primary);
    bottom: 0;
    margin: 0px;
    padding: 0;
    border-top: 2px solid var(--color-secondary);
  }
  .main-nav--menu li {
    text-align: center;
    width: 20%;
  }
 }
 
 @media (max-width: 574px) {
   #header .logo img {
     width: 25%;
   }
   #footer .footer-top {
     border-bottom: none;
     text-align: center;
   }
 
   #header .button-send {
    padding: 6px 10px;
    font-size: 14px;
    word-break: normal;
    white-space: nowrap;
    position: fixed;
    top: 20px;
    right: 12px;
    display: inline;
    width: auto;
   }
 
   #header .icon-content {
     margin: 21px 0;
   }
   .btn-mobile {
     float: right;
     position: absolute;
     right: 19px;
   }

   
   .main-nav a:not(.button) {
     font-size: 12px;
   }
 
   #program {
     height: 100%;
   }
   #partners .book {
     background-image: none;
     margin: 20px;
   }
   .icon-content {
     display: flex;
     align-items: center;
     margin: 18px 0;
   }
   #intro .icon-content img {
     max-width: 56px;
   }
   #intro .intro-info h2 {
     font-size: 20px;
   }
   .icon-content h4 {
     font-size: 18px;
     padding: 2px;
     text-align: left;
    margin-left: 10px;
   }
   #video h2 {
    margin-top: 10vh;
   }
   .video-responsive{
    margin: 0 26px;
    padding-bottom: 49.25%;
   }

 }
 
 .gtco-banner-area a,
 .gtco-feature a,
 .gtco-features a,
 .gtco-news .owl-carousel .card a,
 #gtco-footer .submit-button {
   background-image: -moz-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
   background-image: -webkit-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
   background-image: -ms-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
   font-size: 18px;
   font-family: "OpenSans-Semibold";
   color: #fff;
   border-radius: 50px;
   padding: 5px 30px;
   display: inline-block;
   text-transform: uppercase;
   padding-right: 5px;
   text-decoration: none !important;
 }
 .gtco-banner-area a .fa,
 .gtco-feature a .fa,
 .gtco-features a .fa,
 .gtco-news .owl-carousel .card a .fa,
 #gtco-footer .submit-button .fa {
   background: #fff;
   border-radius: 50%;
   height: 32px;
   width: 32px;
   color: #37eaf9;
   font-size: 22px;
   text-align: center;
   padding-top: 5px;
   margin-left: 15px;
 }
 
 .gtco-feature h2,
 .gtco-features h2 {
   font-family: "Lato-Regular";
   color: #000000;
   font-size: 36px;
   margin-bottom: 30px;
 }
 
 .card {
   border: none;
   background: transparent;
 }
 
 .gtco-banner-area {
   margin-top: 20px;
   min-height: 500px;
 }
 .gtco-banner-area h1 {
   font-family: "Lato-Light";
   font-size: 48px;
   color: #000000;
   max-width: 500px;
   margin-top: 70px;
 }
 .gtco-banner-area h1 span {
   font-family: "Lato-Medium";
 }
 @media (max-width: 1199px) {
   .gtco-banner-area h1 {
     margin-top: 30px;
   }
 }
 .gtco-banner-area p {
   max-width: 450px;
   margin: 20px 0;
   margin-bottom: 40px;
 }
 .gtco-banner-area a {
   display: inline;
   padding: 10px 30px;
   padding-right: 5px;
 }
 .gtco-banner-area .col-md-6 .card .card-img-top {
   max-width: 430px;
   margin: 0 auto;
   margin-top: 30px;
   margin-right: 0;
 }
 @media (max-width: 1400px) {
   .gtco-banner-area .col-md-6 .card .card-img-top {
     max-width: 400px;
     margin-top: 20px;
     margin-right: auto;
   }
 }
 @media (max-width: 1199px) {
   .gtco-banner-area .col-md-6 .card .card-img-top {
     max-width: 350px;
   }
 }
 @media (max-width: 767px) {
   .gtco-banner-area .col-md-6 .card .card-img-top {
     margin-top: 100px;
   }
 }
 
 .gtco-feature {
   margin-top: 100px;
 }
 .gtco-feature .card .back-bg {
   margin-left: -30px !important;
   margin-top: -20px;
 }
 .gtco-feature .card svg {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
 .gtco-feature .card svg.defs {
   position: absolute;
   width: 0;
   height: 0;
 }
 .gtco-feature .card .squircle {
   width: 100%;
   height: 450px;
   background: url(../images/learn-img.jpg) center/cover, #aaa;
   clip-path: url(#clip-path);
   background-position-x: -50px;
 }
 .gtco-feature p small {
   font-size: 16px;
 }
 .gtco-feature a {
   margin-top: 20px;
   display: inline-block;
 }
 
 .gtco-features {
   margin-top: 100px;
 }
 .gtco-features svg {
   position: absolute;
   margin-left: -100px;
   margin-top: 100px;
 }
 @media (max-width: 767px) {
   .gtco-features svg {
     margin: 0 auto;
     margin-top: 200px;
   }
 }
 .gtco-features h2 {
   margin-top: 200px;
 }
 @media (max-width: 991px) {
   .gtco-features h2 {
     margin-top: 0;
   }
 }
 .gtco-features .col-lg-4 p {
   max-width: 320px;
   margin-bottom: 30px;
 }
 .gtco-features .col-lg-8 {
   padding: 10px 100px;
 }
 @media (max-width: 767px) {
   .gtco-features .col-lg-8 {
     padding: 10px 0;
   }
 }
 .gtco-features .col-lg-8 .row .col:first-child {
   margin-top: 150px;
 }
 @media (max-width: 600px) {
   .gtco-features .col-lg-8 .row .col:first-child {
     margin-top: 50px;
   }
 }
 @media (max-width: 600px) {
   .gtco-features .col-lg-8 .col {
     flex: 0 0 100%;
     max-width: 100%;
   }
 }
 .gtco-features .col-lg-8 .card {
   background: #fff;
   margin: 30px 5px;
   padding: 20px 10px;
   border-radius: 20px;
   box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.08);
 }
 .gtco-features .col-lg-8 .card .oval {
   background: linear-gradient(to right, #f1f6fd, #f0fbfe);
   padding: 10px;
   width: 150px;
   border-radius: 50%;
   margin: auto;
   transform: rotate(20deg);
   margin-top: 20px;
 }
 .gtco-features .col-lg-8 .card .card-img-top {
   max-width: 0.8in;
   margin: 0 auto;
   transform: rotate(-20deg);
 }
 .gtco-features .col-lg-8 .card h3 {
   font-family: "Lato-Regular";
   font-size: 24px;
   color: #1d3ede;
 }
 .gtco-features .col-lg-8 .card p {
   font-size: 16px;
 }
 
 .gtco-numbers-block {
   margin: 100px auto;
   margin-top: 200px;
   color: #fff;
 }
 @media (max-width: 600px) {
   .gtco-numbers-block {
     margin-top: 100px;
   }
 }
 @media (max-width: 1299px) {
   .gtco-numbers-block .row {
     max-width: 1000px;
     margin: 0 auto;
   }
 }
 @media (max-width: 767px) {
   .gtco-numbers-block .row .col-3 {
     padding: 0;
   }
 }
 .gtco-numbers-block #custom-map::before {
   position: absolute;
   content: "";
   height: 100px;
   width: 100%;
   border: 2px solid red;
 }
 .gtco-numbers-block svg {
   margin-top: -100px;
   position: absolute;
   left: 0;
   max-width: 1500px;
   right: 0;
   margin-left: auto;
   margin-right: auto;
 }
 @media (max-width: 1299px) {
   .gtco-numbers-block svg {
     margin-top: -90px;
   }
 }
 @media (max-width: 1199px) {
   .gtco-numbers-block svg {
     margin-top: -60px;
   }
 }
 @media (max-width: 991px) {
   .gtco-numbers-block svg {
     margin-top: -40px;
   }
 }
 @media (max-width: 650px) {
   .gtco-numbers-block svg {
     margin-top: -20px;
   }
 }
 @media (max-width: 600px) {
   .gtco-numbers-block svg {
     margin-top: -10px;
   }
 }
 .gtco-numbers-block h5 {
   font-family: "Lato-Bold";
   font-size: 60px;
 }
 @media (max-width: 1299px) {
   .gtco-numbers-block h5 {
     font-size: 48px;
   }
 }
 @media (max-width: 767px) {
   .gtco-numbers-block h5 {
     font-size: 24px;
   }
   #about .about-img{
      margin: 0 auto;
   }
 }
 @media (max-width: 600px) {
   .gtco-numbers-block h5 {
     margin: 0;
     font-size: 18px;
   }
 }
 .gtco-numbers-block p {
   font-family: "Lato-Semibold";
   font-size: 24px;
   color: #fff;
 }
 @media (max-width: 1299px) {
   .gtco-numbers-block p {
     font-size: 18px;
   }
 }
 @media (max-width: 991px) {
   .gtco-numbers-block p {
     font-size: 16px;
   }
 }
 @media (max-width: 991px) {
   .gtco-numbers-block p {
     font-size: 16px;
   }
 }
 @media (max-width: 600px) {
   .gtco-numbers-block p {
     line-height: 1.1;
   }

   .content-buttons{
    justify-content: space-between !important
   }

   .participantes-item-person{
     height: 520px !important;
   }

   


   
 }
 @media (max-width: 500px) {
   .gtco-numbers-block p {
     font-size: 8px;
   }
   .button-secondary{
    padding: 10px 20px !important
   }
   .button-terciary{
    padding: 10px 8px !important
   }
   .registro-tab-option:first-child{
    margin-right: 20px !important;
   }
   .registro-tab-option{
     margin-right: 0 !important;
     font-size: 16px !important;
   }
 }
 
 .gtco-testimonials {
   position: relative;
   margin-top: 200px;
 }
 @media (max-width: 767px) {
   .gtco-testimonials {
     margin-top: 100px;
   }
 }
 .gtco-testimonials h2 {
   font-family: "Lato-Medium";
   font-size: 36px;
   text-align: center;
   color: #333333;
   margin-bottom: 100px;
 }
 .gtco-testimonials .owl-stage-outer {
   padding-bottom: 30px;
 }
 .gtco-testimonials .owl-nav {
   display: none;
 }
 .gtco-testimonials .owl-dots {
   text-align: center;
 }
 .gtco-testimonials .owl-dots span {
   position: relative;
   height: 10px;
   width: 10px;
   border-radius: 50%;
   display: block;
   background: #fff;
   border: 2px solid #01e6f8;
   margin: 0 5px;
 }
 .gtco-testimonials .owl-dots .active {
   box-shadow: none;
 }
 .gtco-testimonials .owl-dots .active span {
   background: #01e6f8;
   box-shadow: none;
   height: 12px;
   width: 12px;
   margin-bottom: -1px;
 }
 .gtco-testimonials .card {
   background: #fff;
   box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.08);
   margin: 0 30px;
   padding: 0 20px;
   border-radius: 50px;
 }
 .gtco-testimonials .card .card-img-top {
   max-width: 100px;
   border-radius: 50%;
   margin: 0 auto;
   border: 5px solid #1d3ede;
   width: 100px;
   height: 100px;
 }
 .gtco-testimonials .card h5 {
   color: #1d3ede;
   font-size: 21px;
   line-height: 1.3;
   font-family: "Lato-Medium";
 }
 .gtco-testimonials .card h5 span {
   font-size: 18px;
   color: #666666;
   font-family: "OpenSans-Regular";
 }
 .gtco-testimonials .card p {
   font-size: 18px;
 }
 .gtco-testimonials .active {
   opacity: 0.5;
   transition: all 0.3s;
 }
 .gtco-testimonials .center {
   opacity: 1;
 }
 .gtco-testimonials .center h5 {
   font-size: 24px;
 }
 .gtco-testimonials .center h5 span {
   font-size: 20px;
 }
 .gtco-testimonials .center p {
   font-size: 20px;
 }
 .gtco-testimonials .center .card-img-top {
   max-width: 100%;
   height: 120px;
   width: 120px;
 }
 
 .gtco-features-list {
   margin-top: 100px;
 }
 .gtco-features-list .media {
   margin: 20px 0;
 }
 .gtco-features-list .oval {
   border-radius: 50%;
   background-color: white;
   box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
   padding: 15px;
   height: 60px;
   width: 60px;
 }
 .gtco-features-list .oval .align-self-start {
   width: 100%;
   padding: 3px;
 }
 .gtco-features-list .media-body {
   font-family: "OpenSans-Regular";
   font-size: 16px;
   color: #666666;
   padding-right: 20px;
 }
 .gtco-features-list .media-body h5 {
   font-family: "Lato-Semibold";
   margin-bottom: 20px !important;
   font-size: 22px;
 }
 
 .gtco-logo-area {
   margin: 50px auto;
 }
 .gtco-logo-area .col .img-fluid {
   max-height: 32px;
 }
 @media (max-width: 600px) {
   .gtco-logo-area .col {
     flex: 0 0 50%;
     max-width: 50%;
     margin: 20px 0;
   }
 }
 
 .gtco-news {
   padding: 0;
 }
 .gtco-news h2 {
   font-size: 36px;
   font-weight: "Lato-Medium";
   text-align: center;
   margin-bottom: 50px;
 }
 .gtco-news .owl-carousel .owl-nav {
   display: block !important;
   position: absolute;
   top: 13%;
   width: 100%;
 }
 .gtco-news .owl-next span {
   background: #f9f9f9;
   font-size: 24px;
   padding: 7px 10px;
 }
 
 .gtco-news .owl-prev span {
   background: #e4002b;
   font-size: 24px;
   padding: 7px 10px;
   color: #f9f9f9;
 }
 
 @media (max-width: 600px) {
   .gtco-news .owl-carousel .owl-nav {
     display: none !important;
   }
 }
 .gtco-news .owl-carousel .owl-nav .owl-prev,
 .gtco-news .owl-carousel .owl-nav .owl-next {
   font-size: 120px;
   color: #666666;
   position: absolute;
 }
 .gtco-news .owl-carousel .owl-nav .owl-prev {
   left: -50px;
 }
 .gtco-news .owl-carousel .owl-nav .owl-next {
   right: -50px;
 }
 .gtco-news .owl-carousel .card {
   padding: 0 25px;
 }
 .gtco-news .owl-carousel .card .card-img-top {
   border-radius: 40px;
   box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
 }
 .gtco-news .owl-carousel .card h5 {
   font-family: "Lato-Medium";
   font-size: 22px;
   color: #333333;
   margin-bottom: 20px;
 }
 @media (max-width: 767px) {
   .gtco-news .owl-carousel .card h5 {
     font-size: 18px;
   }
 }
 .gtco-news .owl-carousel .card p {
   font-size: 17px;
 }
 @media (max-width: 767px) {
   .gtco-news .owl-carousel .card p {
     font-size: 15px;
   }
 }
 .gtco-news .owl-carousel .card a {
   padding-top: 3px !important;
   padding-bottom: 3px !important;
 }
 
 #gtco-footer {
   padding-bottom: 20px;
 }
 #gtco-footer h4 {
   font-family: "Lato-Medium";
   font-size: 24px;
   color: #1d3ede;
   margin-bottom: 30px;
 }
 #gtco-footer input,
 #gtco-footer textarea {
   background-color: white;
   box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
   border-radius: 50px;
   max-width: 450px;
   width: 100%;
   height: 60px;
   border: none;
   margin-bottom: 30px;
   padding-left: 30px;
   color: #000;
 }
 #gtco-footer input::-webkit-input-placeholder,
 #gtco-footer input::-moz-placeholder,
 #gtco-footer input:-ms-input-placeholder,
 #gtco-footer input:-moz-placeholder,
 #gtco-footer textarea::-webkit-input-placeholder,
 #gtco-footer textarea::-moz-placeholder,
 #gtco-footer textarea:-ms-input-placeholder,
 #gtco-footer textarea:-moz-placeholder {
   color: #999999;
   font-family: "OpenSans-Regular";
   font-size: 18px;
 }
 #gtco-footer textarea {
   min-height: 200px;
   border-radius: 30px;
   padding-top: 20px;
   padding-right: 20px;
   resize: none;
 }
 #gtco-footer .company-nav,
 #gtco-footer .services-nav {
   font-family: "OpenSans-Regular";
   font-size: 20px;
 }
 #gtco-footer .company-nav a,
 #gtco-footer .services-nav a {
   color: #666666;
   margin: 0;
   padding: 0;
 }
 #gtco-footer .follow-us-nav a {
   padding: 0 10px;
   color: #666666;
 }
 @media (max-width: 385px) {
   #gtco-footer .follow-us-nav a {
     padding-right: 0;
   }
 }
 #gtco-footer .follow-us-nav a .fa {
   font-size: 24px;
 }
 #gtco-footer .col-12 {
   margin-top: 90px;
 }
 #gtco-footer .col-12 p {
   font-family: "Lato-Regular";
   font-size: 18px;
   color: #999999;
 }
 @media (max-width: 920px) {
  .main-menu li:not(:last-child){
    display: none;
  }
 }
 @media (max-width: 991px) {
   #gtco-footer .col-12 {
     margin-top: 20px;
   }
 }
 
 @media (max-width: 600px){
   #intro .intro-info h1{
     font-size: 40px;
   }

   .organization img {
     display: block;
     margin-bottom: 10px;
   }
 
   #about .organization{
     flex-direction: column;
     align-items: flex-start;
   }
 
   #myTabContentJust .tab-pane{
     padding: 5px 30px;
   }
 
   .my-next-button{
     top: inherit;
     bottom: -80px;
     left: 0;
   }
 
   .my-prev-button{
     top: inherit;
     bottom: -80px;
     right: 0;
   }

   .order-first{
     margin-top: 100px;
   }

   #footer{
    padding-bottom: 10px;
   }
   .registro{
     padding: 20px !important;
   }
   
 }
 