.dashboard-content{
	padding: 50px 0
}

.header{
	display: block;
	padding: 10px 0;
	background: var(--color-primary)
}

.header-content{

}

.max-content{
	display: block;
	margin: 0 auto;
	max-width: 1800px;
	position: relative;
}

.dashboard-table {
	font-size: 20px;
	width: 100%;
	margin-top: 15px;
}
.dashboard-table thead{
	background: #7b7b7b;
	color: white;
}

.dashboard-title{
	font: 40px var(--font-primary-black);
	color: var(--color-secondary);
}
.dashboard-subtitle{
	font: 28px var(--font-secondary);
	color: #7b7b7b;
}

.profile-button{
	position: absolute;
	top: 3px;
	right: 0;
}

.dashboard-download{
	display: inline-flex;
	color: #7aa372 !important;
	font-size: 20px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.dashboard-download-icon{
	max-width: 50px;
    margin-right: 12px;
}
.content-buttons{
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 10px;
}

.button-refresh{
	width: 25px;
	margin-left: 10px;
	height: 25px;
}

.content-refresh:hover{
	color: black;
	border-color: black
}
.content-refresh{
	border-bottom: 3px solid #4c4c4c;
	display: inline-flex;
	align-content: center;
	cursor: pointer;
	align-items: center;
	color: #4c4c4c;
}

.page-title{
	color: var(--color-secondary);
	font-family: var(--font-primary-black);
}