/*
 * Checkbox
 * @author mfyance
 */


 .form-input{
    border-radius: 20px;
    padding: 13px 20px;
    border: 1px solid #fff;
    font-size: 16px;
    background: transparent;
    color: white;
    width: 100%;
    transition: all .2s ease
}
.form-input:focus + .form-field-text{
    top: 0
}


.form-field-text{
    position: absolute;
    left: 20px;
    top: 14px;
    color: white;
    font: 16px var(--font-primary);
}

.form-content{
   
}

.form-field{
    position: relative;
    margin-bottom: 15px;
}
.input{

}
.form-required{

}

.form-input--is-modal:focus{
    border-color: var(--color-secondary);
    background: #ffb81c3d;
}

.registro-tabs .registro-tab-option a{
    color: #fff!important;
}

select:hover{
    background: #e4002b!important;
}


.form-field label.error{
    color: #d6ff00;
    margin-top: 2px;
    padding-left: 10px;
    letter-spacing: 2px;
}

.form-input.error{
    background: #ff5252;
    border-color: #ea0000;
}

.form-autorizacion label.error,
.registro-temas label.error{
    color: #d6ff00;
    margin-top: 2px;
    padding-left: 10px;
    letter-spacing: 2px;
}

.titulo-recupera-pass{
    color: #fff!important;
    padding: 10px;
}
.btn-recuperar-pass{
    color: #fff!important;
    font-size: 14px;
    cursor: pointer;