/*
 * Icons
 * @author mfyance
 */

.icon {
  position: relative;
  display: inline-block;
}

.icon-content {
 margin: 45px 0;
 padding: 0px !important;
}

.icon-content img {
max-width: 82px;
}
.icon-content h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    padding: 35px;
    color: #F9F9F9;
}